* {
  /* margin: 0; */
}

body {
  background: -webkit-linear-gradient(to right, #403b4a, #e7e9bb);
  background: linear-gradient(to right, #403b4a, #e7e9bb);
}

h1 {
  background-color: rgba(42, 37, 191, 0.75);
  border-radius: 5px;
  color: Black;
  font-family: 'Roboto';
  text-align: center;
}

h1 {
  padding: 2%;
  text-align: center;
}

header {
  align-items: center;
  background-image: url('DJ Header Pic.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 25vw;
}

header img {
  filter: blur(2.5px);
}

section.player {
  margin-top: 5%;
}

audio {
  box-shadow: 5px 5px 5px Gray;
}

marquee {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  color: CadetBlue;
  display: block;
  font-family: 'Roboto';
  font-size: 18px;
  margin: 2% auto 2% auto;
  width: 75%;
}

#music-player {
  color: Green;
  display: block;
  margin: auto;
  width: 75%;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3%;
  margin-bottom: 3%;
}

#search-textbox {
  border-radius: 5px;
  color: Black;
  font-family: 'Gill Sans';
  font-size: 18px;
  width: 50vw;
}

button#submit-button {
  border-radius: 10px;
  font-family: 'Gloria Hallelujah';
  letter-spacing: 1px;
  margin-left: 1%;
}

button#submit-button:hover {
  background-color: rgba(12, 23, 221, 0.5);
  box-shadow: 5px 5px 5px Black;
}

.searchTitleMarkup span {
  color: White;
  font-family: 'Josefin Sans';
  font-size: 20px;
  margin-left: 3%;
}

.searchTitleMarkup hr {
  border-color: Black;
}

.result-box {
  border-radius: 10px;
  background-color: LightGray;
}

.result-box:hover {
  background-color: inherit;
}

#results {
  display: grid;
  grid-template-columns: 33.333% 33.333% 33.333%;
}

.JS-results {
  margin: 2%;
}

.JS-results img {
  border-radius: 50%;
}

.JS-results ul {
  list-style: none;
}

.JS-results li {
  font-family: 'Josefin Sans';
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
}

.JS-results li a {
  color: Black;
  /* font-size: 18px; */
}

footer {
  text-align: center;
}
